<head>
  
  <title>Add New Image</title>
  
</head>

<body>
  
  <%= form_for @image do |f| %>
  <%= render 'shared/errors', object: @image %>
  
  <%= f.label :title %>
  <%= f.text_field :title  %>
  
  <%= f.label :image %>
  <%= f.text_field :image  %>
  
  <%= f.submit 'Upload' %>
  
  <% end %>
  
  
    
</body>
