<%= debug (params) if Rails.env.development? %>

<%= image_tag(@images.image.url(:original)) %>

<%= @images.opening_post %>

<h2> Comment </h2>

<%= form_for @comment,  method: :post, url: {controller: "images", action: "thread"} do |p| %>

<%= render 'shared/errors', object: @comment %>

<%= p.text_area :content %>

<%= p.submit 'Submit' %>

<% end %>

<% @posts.each do |p| %>

<%= p.content %>

<% end %>


