<%= debug (params) if Rails.env.development? %>

<%= image_tag(@images.image.url(:original)) %>

<b>Anonymous</b> <%= @images.created_at %> - Post ID:<%= @images.id %> </br>
<%= @images.opening_post %>

<h2> Comment </h2>

<%= form_for @comment,  url: create_post_image_path do |p| %>

<%= render 'shared/errors', object: @comment %>

<%= p.text_area :content %>

<%= p.submit 'Submit' %>

<% end %>

</br>

<% @posts.each do |p| %>

<b>Anonymous</b> <%= p.created_at %> ID:<%= p.id %> <br/>

<%= p.content %>

</br></br>

<% end %>


