<!DOCTYPE html>
<html>
<head>
  <title>Nothingness</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to 'Simple Uploader', root_path %>

<li><%= link_to 'Images', root_path %></li>
<li><%= link_to 'Upload Your Photo', new_image_path %></li>

<% flash.each do |key, value| %>
    <%= key %>">
    <%= value %>
<% end %>

<%= yield %>

</body>
</html>
